* {
  padding:0;
  margin:0;
}

body {
  color:#444;
}

h1 {
  font-size: 2.618em;
  line-height: 3rem; 
  margin: 1rem auto 2rem auto;
  color: #888888;
  font-weight: 100;
  text-align: center;
    font-family: serif;
}

h2 {
  font-size: 1.618em;
  line-height: 2rem;
  margin: 1rem auto 2rem auto;
  color: #cccccc;
  font-weight: 400;
  text-align: center;
font-family: serif;
}

p {
  font-size: 1em;
  line-height: 1.25rem; 
  margin: 1rem auto 2rem auto;
  color: #222222;
font-family: serif;}

q {
  font-style: italic;
  color: black;
  quotes: '' '';
}
@media screen and (max-width: 30em)
{html, body {font-size: 24px;
    }
    
 .container {
        max-width: 90%;
        margin:auto;
    padding: 0 2rem;}
    
    p {font-family: sans-serif;}
   
    p:nth-of-type(1):first-letter {
        font-weight: bold;
        font-size:24px;}
}


@media screen and (min-width:30.01em) and (max-width: 48em)
{html, body {font-size: 28px}
    
 .container {
        max-width: 85%;
        margin:auto;
        padding: 0 2rem;}
   
    p:nth-of-type(1):first-letter {
        font-weight: bold;
        font-size:28px;}
}

@media screen and (min-width:48.01em) and (max-width: 60em)
{html, body {font-size: 32px}
    
 .container {
        max-width: 80%;
        margin:auto;
        padding: 0 2rem;}
   
    p:nth-of-type(1):first-letter {
        font-weight: bold;
        font-size:32px;}
}

@media screen and (min-width:60.01em) and (max-width: 80em)
{
html, body {font-size: 36px}
    
 .container {
        max-width: 75%;
        margin:auto;
        padding: 0 2rem;}
   
    p:nth-of-type(1):first-letter {
        font-weight: bold;
        font-size:36px;}
}

@media screen and (min-width:80.01em)

{  
     html, body {font-size: 40px}
    
 .container {
        max-width: 70%;
        margin:auto;
        padding: 0 2rem;}
   
    p:nth-of-type(1):first-letter {
        font-weight: bold;
        font-size:40px;}
}
